<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <i class="fa fa-instagram"></i>
                Popular Instagram Photos
            </a>
        </div>
    </div>
</nav>